<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='css/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"> </script>
    <link rel="icon" href="{{url_for('static', filename='image/carrusel/arg_pol_tur.png')}}" type="image/x-icon">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/flecha-ir-arriba.css')}}">
    <script src="{{url_for('static', filename='css/flecha-ir-arriba.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/claro.css')}}" id="estilos-claros">
    <link rel="stylesheet" href="{{url_for('static', filename='css/oscuro.css')}}" id="estilos-oscuros">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9007683047.js" crossorigin="anonymous"></script>
    <title>Grupo 16</title>
  
  </head>